APP_NAME=lara-nasa
APP_ENV=local
APP_KEY=base64:YnnbrVaOJCr74869uSptG5AC18z3ROcekqkjSO1IYY8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

NASA_URL = https://api.nasa.gov/neo/rest
NASA_KEY = DEMO_KEY


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120


